<div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <a class="close" ng-click="cancel()">close this window</a>
          <h4>{{message}}</h4>
        </div>
        <div class="modal-body">
          <a href="/auth/facebook" target="_self" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        </div>
      </div> 
    </div> 
  </div>
</div>