<div class="container">
	<div class="jumbotron text-center">
		<h1><strong>Civic Hack</strong></h1></h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<section class="content-primary col-md-9 col-xs-12">
			<ul class="posts" ng-init="getPosts()">
				<li ng-repeat="post in posts">	
					<div class="vote-buttons">
						<a ng-click="updateVote($index, post._id, 1)" ng-class="voteUpOn[$index] ? 'vote-up-on' : 'vote-up-off'"></a>
        		<span class="vote-count">{{post.voteCount}}</span>
        		<a ng-click="updateVote($index, post._id, -1)" ng-class="voteDownOn[$index] ? 'vote-down-on' : 'vote-down-off'"></a>
        	</div>
      		<span class="title"><a href="/post/{{post.title}}" ng-click="getPost(post._id)">{{post.title}}</a></span>
      		<p class="post-date">Posted: {{post.createdOn | date}} by: {{post.postedBy}}</p>
				</li>
      </ul>
			<a class="btn btn-primary" ng-click="createPost()"> New Post</a>
		</section>

		<section class="content-secondary col-md-3">
			<p>Advertisement</p>
		</section>
	</div>
</div>